.InternshipCard {
  width: 99%;
  background-color: black;
  color: white;
  border-radius: 1rem;
  text-align: left;
  padding: 0 0.3rem;
  opacity: 0.6;

  .header {
    padding: 0 1rem;
    border-bottom: 0.1rem black solid;
    .title {
      font-weight: 500;
    }
    .links {
        float: right;
        img {
            height: 2rem;
            display: inline;
            margin: 0 0.5rem;
        }
        i {
            color: white;
            margin: 0 0.5rem;
            opacity: 1;
        }
    }
  }

  .desg {
    margin-top: -1.5rem;
    padding: 0 3rem;

    .duration {
      float: right;
    }
  }

  .details {
    // max-height: 0rem;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    padding: 0 2rem;
  }
}

@media screen and (max-width:414px) {
  .InternshipCard {
    .header {
      margin-top: 1rem;
      font-size: 1.5rem;
    }
    .desg {
      font-size: 1rem;
      padding: 2.5% 5%;
    }
  }
}
